body {
  background: #212121;
  color: #212121;
  font-family: 'Poppins', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",Helvetica, sans-serif;
  font-size: 36px;
  font-weight: 300;
  padding: 20px;
}

strong {
  font-weight: 700;
}

p {
  margin-bottom: 40px;
  .start {
    margin-top: 40px;
  }
}

a {
  color: #673ab7;
  text-transform: uppercase;
  -webkit-transition: all 1s; /* Safari */
  transition: all 1s;
  border-bottom: none;
}

a:focus, a:hover {
  color: #673ab7;
  text-decoration: underline;
  -webkit-transition: all 1s; /* Safari */
  transition: all 1s;
}

#page {
  background: url('/img/bg_header.jpg') no-repeat center top fixed #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#logo {
  margin-top: 70px;
  width: 100%;
  min-width: 200px;
}

.block-dark {
  color: #fff;
  background : #212121;
  padding: 50px 100px;
  margin: 0;
}

.block-light {
  color: #212121;
  background : #fff;
  padding: 50px 100px;
  margin: 0;
}

#social {
  color: #fff;
  background: #673ab7;
  padding-top: 30px;
  padding-bottom: 20px;
  margin: 100px 0 0;

  a {
    color: #fff;
  }

  i.icon {
    font-size: 64px;
    padding: 0 15px;
    line-height: 1em;
  }
}

.work-recent {
  padding-bottom: 20px;
  img {
    width: 100%;
  }
  .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
      padding-top: 20px;
  }
}

#events {
  font-size: 18px;
  padding-top: 30px;
  padding-bottom: 40px;

  div {
    margin-bottom: 15px;
  }
}

#associations div img {
  padding: 0 15px;
}

.text-large {
  font-size: 48px;
  font-weight: 300;
}

hr {
  border-top: 5px solid #b6b6b6;
  width: 50px;
  display: inline-block;
  margin-top: 0;
}

h2 {
  padding-top: 20px;
}

#footer {
  color: #b6b6b6;
  background : #212121;
  font-size: 18px;
  padding-top: 90px;
  padding-bottom: 30px;

  i.icon {
    font-size: 42px;
    padding: 10px;
  }
}

.trim {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
}

.trim:before {
  content: '';
  position: absolute;
  border: #212121 solid 10px;
  background: none;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  opacity: 0;
  -webkit-transition-duration: 1.5s;
  transition-duration: 1.5s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

.trim:hover:before, .trim:focus:before, .trim:active:before {
  opacity: 1;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  body {
    font-size: 24px;
  }
  #social {
      font-size: 26px;
      margin: 50px 0 50px;
      text-align: center;
  }
  #logo {
    background: rgba(255,255,255,0.7);
    padding: 15px;
    margin-top: 30px;
  }
  .block-dark, .block-light {
    padding: 20px;
    margin: 0;
  }
  .text-large {
    font-size: 26px;
  }
}
