doctype
html(lang="en")
  head

    title Daniel Schutzsmith - Coder. Designer. Entrepreneur.

    // Search Info
    meta(name="author" content="Daniel Schutzsmith")
    meta(name="description" content="The portfolio website of coder, designer, and entrepreneur Daniel Schutzsmith. Co-founder of Digital Empire, Catskills Conf, Hudson Valley Tech Meetup, The Poughkeepsie Club and 3 wonderful kids with his wife Sabrina.")
    meta(name="robots" content="index, follow")
    link(rel="canonical" href="http://daniel.schutzsmith.com")

    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    // Fonts
    link(href='https://fonts.googleapis.com/css?family=Poppins:400,700,600,300' rel='stylesheet' type='text/css')

    // Bootstrap CSS
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")

    // Animation CSS
    link(rel="stylesheet" crossorigin="anonymous" integrity="sha256-1hIhSlowg4vqaFZ/bikPMfEGwSgM0FtIs7mx1PADHCk=" href="https://cdn.jsdelivr.net/animatecss/3.5.1/animate.min.css")

    // Ion Icons
    link(rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")

    // CSS Overide
    link(href="/css/main.css" type="text/css" rel="stylesheet")

    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // [if lt IE 9]
    script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
    script(src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js")
    // [endif]

    link(rel="apple-touch-icon", sizes="57x57", href="/favicons/apple-touch-icon-57x57.png?v=YAAjWg3WaR")
    link(rel="apple-touch-icon", sizes="60x60", href="/favicons/apple-touch-icon-60x60.png?v=YAAjWg3WaR")
    link(rel="apple-touch-icon", sizes="72x72", href="/favicons/apple-touch-icon-72x72.png?v=YAAjWg3WaR")
    link(rel="apple-touch-icon", sizes="76x76", href="/favicons/apple-touch-icon-76x76.png?v=YAAjWg3WaR")
    link(rel="apple-touch-icon", sizes="114x114", href="/favicons/apple-touch-icon-114x114.png?v=YAAjWg3WaR")
    link(rel="apple-touch-icon", sizes="120x120", href="/favicons/apple-touch-icon-120x120.png?v=YAAjWg3WaR")
    link(rel="apple-touch-icon", sizes="144x144", href="/favicons/apple-touch-icon-144x144.png?v=YAAjWg3WaR")
    link(rel="apple-touch-icon", sizes="152x152", href="/favicons/apple-touch-icon-152x152.png?v=YAAjWg3WaR")
    link(rel="apple-touch-icon", sizes="180x180", href="/favicons/apple-touch-icon-180x180.png?v=YAAjWg3WaR")
    link(rel="icon", type="image/png", href="/favicons/favicon-32x32.png?v=YAAjWg3WaR", sizes="32x32")
    link(rel="icon", type="image/png", href="/favicons/android-chrome-192x192.png?v=YAAjWg3WaR", sizes="192x192")
    link(rel="icon", type="image/png", href="/favicons/favicon-96x96.png?v=YAAjWg3WaR", sizes="96x96")
    link(rel="icon", type="image/png", href="/favicons/favicon-16x16.png?v=YAAjWg3WaR", sizes="16x16")
    link(rel="manifest", href="/favicons/manifest.json?v=YAAjWg3WaR")
    link(rel="mask-icon", href="/favicons/safari-pinned-tab.svg?v=YAAjWg3WaR", color="#5bbad5")
    link(rel="shortcut icon", href="/favicon.ico?v=YAAjWg3WaR")
    meta(name="msapplication-TileColor", content="#da532c")
    meta(name="msapplication-TileImage", content="/favicons/mstile-144x144.png?v=YAAjWg3WaR")
    meta(name="theme-color", content="#ffffff")

    // Twitter Card
    meta(name="twitter:card" content="summary")
    meta(name="twitter:title" content="Daniel Schutzsmith - Coder. Designer. Entrepreneur.")
    meta(name="twitter:site" content="@schutzsmith")
    meta(name="twitter:creator" content="@schutzsmith")
    meta(name="twitter:description" content="Daniel Schutzsmith is a coder, designer, & co-founder of Digital Empire, Catskills Conf, Hudson Valley Tech Meetup, Poughworking & 3 wonderful kids.")
    <meta name="twitter:creator" content="@schutzsmith">
    <meta name="twitter:image:src" content="http://daniel.schutzsmith.com/img/bg_header_small.jpg">

    // Open Graph General (Facebook & Pinterest)
    <meta property="og:url" content="http://daniel.schutzsmith.com">
    <meta property="og:title" content="Daniel Schutzsmith - Coder. Designer. Entrepreneur. Lover of creativity and technology!">
    <meta property="og:description" content="Coder, designer, and co-founder of Digital Empire, Catskills Conf, Hudson Valley Tech Meetup, Poughworking and 3 wonderful kids with his wife Sabrina.">
    <meta property="og:site_name" content="Daniel Schutzsmith Portfolio">
    <meta property="og:image" content="http://daniel.schutzsmith.com/img/bg_header_small.jpg">

  body
    != yield

    // JQuery
    script(src="https://code.jquery.com/jquery-1.12.2.min.js"   integrity="sha256-lZFHibXzMHo3GGeehn1hudTAP3Sc0uKXBXAzHX1sjtk=" crossorigin="anonymous")

    // Bootstrap JS
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js", integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS", crossorigin="anonymous")

    // Animation JS
    script(crossorigin="anonymous" integrity="sha256-z6FznuNG1jo9PP3/jBjL6P3tvLMtSwiVAowZPOgo56U=" src="https://cdn.jsdelivr.net/wow/1.1.2/wow.min.js")
    script new WOW().init();

    //Google Analytics
    script.
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-76196460-1', 'auto');
          ga('send', 'pageview');