<!--
  Things to add:
  [x] Thumbnail links of recent work.
  [x]  Speaking experience and video from FITC 2015. Maybe also add Judging in close proximity.
  [x]  Icons for social media links.
  [x]  Logos for affiliations: IADAS, Webbys, AIGA, GAG
  []  Barbershop experience.
-->
<div id="page">

  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-md-3 col-lg-2 col-sm-offset-8 col-md-offset-9 col-lg-offset-9">
        <img src="img/logo@2x.png" id="logo" class="wow fadeInUp" alt="Daniel Schutzsmith Logo">
      </div>
    </div>
  </div>

  <div class="container-fluid wow fadeInUp" id="social">
    <div class="row">
      <div class="col-md-12 text-center">
        <!--<a href="#" data-toggle="modal" data-target="#myModal">SUBSCRIBE</a> / -->
        <a href="http://github.com/schutzsmith" title="Github"><i class="icon ion-social-github"></i></a>
        <a href="http://linkedin.com/in/danielschutzsmith" title="LinkedIn"><i class="icon ion-social-linkedin"></i></a>
        <a href="http://twitter.com/schutzsmith" title="Twitter"><i class="icon ion-social-twitter"></i></a>
        <a href="http://instagram.com/schutzsmith" title="Instagram"><i class="icon ion-social-instagram"></i></a>
        <a href="https://dribbble.com/schutzsmith" title="Dribbble"><i class="icon ion-social-dribbble"></i></a>
      </div>
    </div>
  </div>

  <div class="container-fluid block-dark wow fadeInUp">
    <div class="row">
      <div class="col-sm-10 col-md-10 col-lg-10">
        <h2>Hello there!</h2>
        <hr>
        <p class="text-large">Daniel Schutzsmith is a rare breed – a hybrid of equal parts business, design, coding, and strategy – ready to change the world from the Hudson Valley of New York State.</p>

        <p class="text-large">Over the past 19 years he's had the privilege of working with companies such as Adobe, Greenpeace, The Pixies, MTV, Phish, PBS, They Might Be Giants, TBS, Pepsico, Dave Matthews Band &amp; more.</p>

        <p class="text-large">In his free time he enjoys single malt scotches, inspirational wanderings through the streets of NYC, hiking the hills of the Hudson Valley, and evenings at the drive-in with his wife and three kids.</p>
      </div>
    </div>
  </div>

  <div class="container-fluid work-recent">
    <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-4 wow fadeInUp">
          <a href="http://gmpc.com" class="trim"><img src="/img/portfolio_gmpc.jpg" alt="GMPC Website Thumbnail"></a>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-4 wow fadeInLeft">
          <a href="http://visioncoalitionde.org" class="trim"><img src="/img/portfolio_vcd.png" alt="Vision Coalition of Delaware Thumbnail"></a>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-4 wow fadeInDown">
          <a href="http://mojimatch.com" class="trim"><img src="/img/portfolio_mojimatch.png" alt="Moji Match Thumbnail"></a>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-4 wow fadeInRight">
          <a href="http://charitydefensecouncil.org" class="trim"><img src="/img/portfolio_cdc.jpg" alt="Charity Defense Council Thumbnail"></a>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-4 wow fadeInUp">
          <a href="http://raceforward.org" class="trim"><img src="/img/portfolio_rf.jpg" alt="Race Forward Thumbnail"></a>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-4 wow fadeInLeft">
          <a href="http://senecawomen.com" class="trim"><img src="/img/portfolio_sw.jpg" alt="Seneca Women Thumbnail"></a>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-4 wow fadeInDown">
          <a href="http://fs.digitalempire.io" class="trim"><img src="/img/portfolio_freedom.png" alt="Freedom Summer from American Experience Thumbnail"></a>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-4 wow fadeInRight">
          <a href="http://digitalempire.io" class="trim"><img src="/img/portfolio_de.png" alt="Digital Empire Thumbnail"></a>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-4 wow fadeInUp">
          <a href="http://iwhc.org" class="trim"><img src="/img/portfolio_iwhc.png" alt="IWHC Thumbnail"></a>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-4 wow fadeInLeft">
          <a href="http://happyheartsfund.org" class="trim"><img src="/img/portfolio_hhf.jpg" alt="Happy Hearts Fund Thumbnail"></a>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-4 wow fadeInDown">
          <a href="http://instantoilspill.com" class="trim"><img src="/img/portfolio_oil.jpg" alt="Instant Oil Spill Thumbnail"></a>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-4 wow fadeInRight">
          <a href="http://nleafcf.org" class="trim"><img src="/img/portfolio_nleafcf.jpg" alt="NLEAFC Thumbnail"></a>
      </div>
    </div>
  </div>

  <div class="container-fluid block-light">
    <div class="row">
      <div class="col-sm-10 col-md-10 col-lg-10">
        <h2>Work Engagements</h2>
        <hr>
        <p class="text-large"><strong>Managing Partner of <a href="http://digitalempire.io">Digital Empire</a></strong>, a digital creative agency helping clients create their own digital empires, one byte at a time.</p>
        <p class="text-large"><strong>Adjunct Professor at <a href="http://newpaltz.edu">SUNY New Paltz</a></strong>, teaching our next generation of web designers in the Design For Web course.</p>
        <h2>Co-Founder Of:</h2>
        <hr>
        <p><strong><a href="http://meetup.com/hvtech">Hudson Valley Tech Meetup</a></strong><br>
        A monthly meetup bringing together technologists, designers, entrepreneurs and educators to share their passion and craft. This is a volunteer position.</p>
        <p><strong><a href="http://catskillsconf.com">Catskills Conf</a></strong><br>A weekend-long event gathering of technologists and creators at The Ashokan Center in the foothills of the Catskill Mountains. This is a volunteer position.</p>
        <p><strong><a href="">Poughworking</a></strong><br>Located in downtown Poughkeepsie, we've created a space to foster growth in the creative economy of the Hudson Valley through coworking, community, and education. This is a volunteer position.</p>
        <h2>Former Affiliations</h2>
        <hr>
        <p><strong><a href="http://sva.edu">School Of Visual Arts</a></strong></p>
        <p><strong><a href="http://barbariangroup.com">The Barbarian Group</a></strong></p>
        <p><strong><a href="http://cubancouncil.com">Cuban Council</a></strong></p>
        <p><strong><a href="http://www.scps.nyu.edu/">NYU</a></strong></p>
        <p><strong><a href="http://choppingblock.com">The Chopping Block</a></strong></p>
      </div>
    </div>
  </div>


  <div class="container-fluid block-dark">
    <div class="row">
      <div class="col-sm-10 col-md-10 col-lg-10">
        <h2>Speaking Engagements</h2>
        <hr>
        <p class="text-large">For over 10 years Daniel has been speaking to conferences, classrooms, and companies on the <strong>topics of design, code, process, and digital business</strong>.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class='embed-container'><iframe src='https://www.youtube.com/embed/_SSHL9gxdsU' frameborder='0' allowfullscreen></iframe></div>
      </div>
    </div>
    <div class="row" id="events">
      <div class="col-sm-6 col-md-4 col-lg-3">FITC Toronto 2015</div>
      <div class="col-sm-6 col-md-4 col-lg-3">Collide Conference 2015</div>
      <div class="col-sm-6 col-md-4 col-lg-3">Marist Ad Club 2015</div>
      <div class="col-sm-6 col-md-4 col-lg-3">Marist Marketing Class 2015</div>
      <div class="col-sm-6 col-md-4 col-lg-3">Halifax Pop Digital 2014</div>
      <div class="col-sm-6 col-md-4 col-lg-3">Marist Marketing Class 2014</div>
      <div class="col-sm-6 col-md-4 col-lg-3">Halifax Pop Digital 2013</div>
      <div class="col-sm-6 col-md-4 col-lg-3">SVA Design Impact 2013</div>
      <div class="col-sm-6 col-md-4 col-lg-3">NXNE Interactive 2013</div>
      <div class="col-sm-6 col-md-4 col-lg-3">Halifax Pop Digital 2012</div>
      <div class="col-sm-6 col-md-4 col-lg-3">NXNE Interactive 2012</div>
      <div class="col-sm-6 col-md-4 col-lg-3">FITC Toronto 2012</div>
      <div class="col-sm-6 col-md-4 col-lg-3">NXNE Interactive 2011</div>
      <div class="col-sm-6 col-md-4 col-lg-3">FITC Toronto 2011</div>
      <div class="col-sm-6 col-md-4 col-lg-3">FITC Amsterdam 2011</div>
      <div class="col-sm-6 col-md-4 col-lg-3">NXNE Interactive 2010</div>
      <div class="col-sm-6 col-md-4 col-lg-3">FITC Toronto 2010</div>
      <div class="col-sm-6 col-md-4 col-lg-3">Webvisions 2010</div>
      <div class="col-sm-6 col-md-4 col-lg-3">HOW Design 2010</div>
      <div class="col-sm-6 col-md-4 col-lg-3">RGD Design Thinkers 2009</div>
      <div class="col-sm-6 col-md-4 col-lg-3">HOW Design 2009</div>
      <div class="col-sm-6 col-md-4 col-lg-3">FITC 2009</div>
      <div class="col-sm-6 col-md-4 col-lg-3">Webvisions 2009</div>
      <div class="col-sm-6 col-md-4 col-lg-3">Create Chaos/WDDC 2008</div>
      <div class="col-sm-6 col-md-4 col-lg-3">FITC 2008</div>
      <div class="col-sm-6 col-md-4 col-lg-3">Marketing Bootcamp 2008</div>
      <div class="col-sm-6 col-md-4 col-lg-3">Flash Forward 2007</div>
      <div class="col-sm-6 col-md-4 col-lg-3">HOW Design Conference 2007</div>
      <div class="col-sm-6 col-md-4 col-lg-3">CRE8 2007</div>
      <div class="col-sm-6 col-md-4 col-lg-3">Webvisions 2007</div>
      <div class="col-sm-6 col-md-4 col-lg-3">FITC 2007 </div>
      <div class="col-sm-6 col-md-4 col-lg-3">Internetics 2006</div>
      <div class="col-sm-6 col-md-4 col-lg-3">Flash Forward 2006</div>
    </div>
  </div>

  <div class="container-fluid block-light">
    <div class="row" id="associations">
      <div class=" col-md-12 text-center">
          <a href="http://upstatenewyork.aiga.org/"><img src="img/logo_aiga.png" alt="AIGA Logo"></a>
          <a href="http://www.iadas.net/"><img src="img/logo_iadas.png" alt="International Academy of Digital Arts and Sciences Logo"></a>
          <a href="https://www.graphicartistsguild.org/"><img src="img/logo_gag.png" alt="Graphic Artists Guild"></a>
          <a href="http://www.barbershop.org/"><img src="img/logo_bhs.png" alt="Barbershop Harmony Society Logo"></a>
          <a href="https://meetup.com/hvtech/"><img src="img/logo_hvtm.png" alt="Hudson Valley Tech Meetup Logo"></a>
      </div>
    </div>
  </div>

  <div id="footer" class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <p class="text-center">
          <a href="http://github.com/schutzsmith" title="Github"><i class="icon ion-social-github"></i></a>
          <a href="http://linkedin.com/in/danielschutzsmith" title="LinkedIn"><i class="icon ion-social-linkedin-outline"></i></a>
          <a href="http://twitter.com/schutzsmith" title="Twitter"><i class="icon ion-social-twitter"></i></a>
          <a href="http://instagram.com/schutzsmith" title="Instagram"><i class="icon ion-social-instagram-outline"></i></a>
          <a href="https://dribbble.com/schutzsmith" title="Dribbble"><i class="icon ion-social-dribbble-outline"></i></a><br>
          Copyright &copy; 2016 <a href="mailto:daniel@schutzsmith.com">Daniel Hayes Schutzsmith</a>
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <form action="https://www.getrevue.co/profile/daniel-schutzsmith/add_subscriber" method="post" id="revue-form" name="revue-form" target="_blank" class="form-horizontal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Subscribe to my email list</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="member_email" class="col-sm-3 control-label">Email</label>
          <div class="col-sm-9">
            <input type="email" class="form-control" placeholder="Your email address..." name="member[email]" id="member_email">
          </div>
        </div>
        <div class="form-group">
          <label for="member_first_name" class="col-sm-3 control-label">First Name</label>
          <div class="col-sm-9">
            <input class="form-control" placeholder="First name... (Optional)" type="text" name="member[first_name]" id="member_first_name">
          </div>
        </div>
        <div class="form-group">
          <label for="member_last_name" class="col-sm-3 control-label">Last Name</label>
          <div class="col-sm-9">
            <input class="form-control" placeholder="Last name... (Optional)" type="text" name="member[last_name]" id="member_last_name">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <input type="submit" value="Subscribe" name="member[subscribe]" class="btn btn-primary">
      </div>
    </div>
  </div>
  </form>
</div>